@charset 'utf-8';

/* blind */
.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    margin: -1px;
}

/* 모달 */
.modal_bg {
    display: none;
    position: fixed;
	z-index: 49;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}


/* 셀렉트 리스트 */
.select_type_list {
	display: none;
    position: absolute;
    width: 100px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px #00000029;
    border: 1px solid #C3D0DE;
    border-radius: 8px;
	text-align: left;
	z-index: 60;
	overflow: hidden;
}
.select_type_list label {
    display: block;
    padding: 0 10px 0 12px;
    width: 100%;
    height: 36px;
    line-height: 34px;
	cursor: pointer;
	box-sizing: border-box;
}
.select_type_list label:hover {
    color: #3791FF;
    background: #ECF3FB;
}
.searchList {
    top: auto;
    left: auto;
    width: 100%;
}
.select_type_list input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.select_type_list label .checkmark {
	display: none;
}

/* 썸네일 공통 */
.thumb {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
}
.thumb img {
    transition: transform .3s;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
a:hover .thumb img {
	transform: scale(1.1);
    transition: transform .3s;
}


/* 기사 정보 공통 */
span.info {
	color: #B7BDC4;
}
span.info i {
	font-size: 14px;
}
span.info i::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #B7BDC4;
    margin: 0 5px;
    vertical-align: 4px;
    border-radius: 5px;
}
span.info time {
	font-size: 14px;
	color: #C9C9C9;
}

/* 인기 키워드 */
.ranking {
	border-radius: 10px;
	overflow: hidden;
	background-color: #545F7D;
}
.ranking .tit {
	background-color: #3F4A68;
}
.ranking .tit h2 {
	font-size: 16px;
	font-weight: 500;
	border-bottom: 1px solid #4C556A;
	padding: 14px 0 14px 23px;
	color: #fff;
	margin: 0;
}
.ranking .tit h2::before {
	content: "";
	display: inline-block;
	margin-right: 5px;
	vertical-align: bottom;
    width: 21px;
    height: 19px;
    background: url(../../inc/images/template/ico_ranking.png) no-repeat;
    background-size: 21px 19px;
}
.ranking .tit ul.tab {
	display: flex;
}
.ranking .tit ul.tab li {
	width: 50%;
	text-align: center;
	padding: 10px 0;
	position: relative;
}
.ranking .tit ul.tab li a {
	display: block;
	color: #fff;
}
.ranking .tit ul.tab li.active::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	background-color: #378EFF;
}
ul.ranking_item_list {
	padding: 11px 10px 12px 34px;
}
ul.ranking_item_list li a {
	margin: 4px 0;
	padding: 4px 0;
	display: block;
	color: #fff;
}
ul.ranking_item_list li span {
	color: #378EFF;
	margin-right: 10px;
	font-weight: 500;
}

/* 기본 검색 */
.search_basic {
	position: relative;
	display: inline-block;
}
.search_basic .searchBox {
	width: 705px;
	height: 60px;
	position: relative;
	display: inline-block;
}
.search_basic .search_input {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.30);
	border-radius: 30px;
	padding-left: 136px;
	box-sizing: border-box;
}
.search_basic .select_type {
    position: absolute;
    top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
    left: 0;
    padding: 0 30px 0 18px;
    width: 112px;
    height: 30px;
	line-height: 30px;
    cursor: pointer;
    color: #E0E4EF;
    font-size: 15px;
	box-sizing: border-box;
    text-align: left;
    font-weight: 500;
	border-right: 1px solid #8593BA;
}
.search_basic .select_type:before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 13px;
    width: 11px;
    height: 7px;
    background: url(../images/template/bullet_select.png) no-repeat;
	background-size: 11px 53px;
	background-position-y: top;
}
.search_basic .btn_search {
    position: absolute;
    top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
    right: 18px;
    text-align: center;
}
.search_basic .ico_search_submit {
	display: block;
    width: 30px;
    height: 30px;
    background: url(../images/template/ico_search.png) no-repeat;
	background-size: 30px 81px;
	background-position-y: top;
}
.search_basic input[type="text"]:focus {
	background-color: #fff;
}
.search_basic input[type="text"]:focus ~ .select_type {
	border-right: 1px solid #EDF3F5;
	color: #61687C;
}
.search_basic input[type="text"]:focus ~ .select_type::before {
	background-position-y: bottom;
}
.search_basic input[type="text"]:focus ~ .btn_search .ico_search_submit {
	background-position-y: bottom;
}


/* 베이직 탭 */
ul.basic_tab {
	text-align: center;
}
ul.basic_tab li {
	display: inline-block;
	border-radius: 20px;
	border: 1px solid #E5E5E8;
	background-color: #fff;
	margin: 0 2px;
}
ul.basic_tab li a {
	color: #B7BDC4;
	display: block;
	padding: 8px 26px;
}
ul.basic_tab li.on {
	background-color: #3F4A68;
	border-color: #3F4A68;
}
ul.basic_tab li.on a {
	color: #fff;
}

/* 사이트 링크 버튼 */
a.site_link {
	padding: 8px 30px 8px 12px;
	color: #378EFF;
	background-color: #E3F3FF;
	border: 1px solid #378EFF;
	border-radius: 5px;
	position: relative;
	order: 2;
}
a.site_link::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
    right: 9px;
	margin-top: auto;
	margin-bottom: auto;
	width: 11px;
	height: 11px;
	background: url("../images/template/ico_link_blue.png") no-repeat center center /11px 11px;
}


/* 게시판 공통 */
.board_wrap {
	padding: 40px 0 20px;
    border-top: 1px solid #E8E5E5;
}

/* 게시판 탑 리스트 */
.board_top_list ul {
	display: flex;
	margin: -1%;
}
.board_top_list ul li {
	width: 32%;
	box-sizing: border-box;
	margin: 1%;
}
.board_top_list ul li a {
	display: block;
	position: relative;
	padding: 254px 0px 0px;
}
.board_top_list ul li a h4 {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 1.2em;
	height: 2.4em;
	isolation: isolate;
}
.board_top_list ul li a .photo {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 238px;
	border-radius: 10px;
	z-index: 0;
}
.board_top_list ul li a .info {
	margin-top: 10px;
	display: block;
}

/* 게시판 썸네일 리스트 */
.board_thumbnail_list {
	margin-top: 40px;
}
.board_thumbnail_list ul li {
	margin-top: 40px;
}
.board_thumbnail_list ul li:first-child {
	margin-top: 0px;
}
.board_thumbnail_list ul li:last-child {
	border-bottom: 0;
}
.board_thumbnail_list ul li a {
	display: block;
	position: relative;
	padding: 18px 0px 30px 320px;
}
.board_thumbnail_list ul li a h4 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 0px;
}
.board_thumbnail_list ul li a .photo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 186px;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	border-radius: 10px;
	z-index: 0;
}
.board_thumbnail_list ul li a p.summary {
	height: 72px;
	margin: 14px 0px 14px;
	overflow: hidden;
	line-height: 1.6;
}

/* 게시판 상세 */
.title_view {
	width: 100%;
	position: relative;
}
.title_view h2 {
	font-size: 32px;
	font-weight: 500;
	padding: 30px 0 48px;
	border-bottom: 1px solid #E5E5E8;
}
.title_view time {
	position: absolute;
	bottom: 16px;
	left: 0;
	color: #B7BDC4;
}
.title_view .cate {
	position: absolute;
	top: 0;
	left: 0;
	color: #378EFF;
	font-weight: 700;
}
.borard_view {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.borard_view .view_cont {
	width: 69.354838%;
	padding: 40px 0;
}
.borard_view .view_cont p {
	font-size: 17px;
}
.borard_view aside {
	width: 26.532258%;
}
.borard_view aside > div {
	margin-top: 40px;
}
.borard_view aside .aside_new,
.borard_view aside .aside_popular {
	padding-top: 12px;
	border-top: 2px solid #3E424D;
}
.borard_view aside > div > h3 {
	font-size: 15px;
	padding: 0 0 12px 6px;
	border-bottom: 1px solid #E5E5E8;
}
.borard_view aside > div h3 span {
	color: #378EFF;
}
.borard_view aside > div h3 span::after {
	content: "";
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #D1D1D5;
	margin: 0 6px;
	vertical-align: middle;
}
.borard_view aside > div > ul li {
	position: relative;
	margin-top: 16px
}
.borard_view aside > div > ul li a {
	display: block;
	padding: 0 120px 0 0px;
}
.borard_view aside > div > ul li h4 {
	padding-top: 10px;
	font-size: 14px;
	line-height: 1.6;
	font-weight: 300;
}
.borard_view aside > div > ul li .photo {
	width: 94px;
	height: 58px;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 10px;
	z-index: 0;
}

/* 페이지 네비 */
.page_navi {
	margin-top: 20px;
	text-align: center;
	line-height: 1;
}
.page_navi a {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
    padding: 8px 12px;
	margin: 0px 5px;
	font-size: 14px;
	border-radius: 2px;
    border: 1px solid #C3D0DE;
}
.page_navi a.num.current {
    display: inline-block;
	color: #fff;
	background-color: #3F4A68;
    border: 1px solid #3F4A68;
}
.page_navi a.guide img {
	position: relative;
	top: -1px;
	width: 6px;
}
.page_navi li.active a {
	display: inline-block;
    color: #fff;
    background-color: #3F4A68;
    border: 1px solid #3F4A68;
}


/* 노트북 해상도 */
@media all and (max-width: 1296px) {

	/* 모바일 검색 */
	.header_search .search_basic .searchBox {
		height: 60px;
	}
	.search_basic {
		display: block;
	}
	.search_basic input[type="text"]:focus {
		border: 0;
	}
	.search_basic .select_type {
		border-right: 1px solid #EDF3F5;
		color: #61687C;
	}
	.search_basic .select_type::before {
		background-position-y: bottom;
	}
	.search_basic .btn_search .ico_search_submit {
		background-position-y: bottom;
	}

	/* 인기 키워드 */
	ul.ranking_item_list,
	.ranking .tit h2 {
		padding-left: 15px;
	}

	/* 게시판 공통 */
	.board_wrap {
		margin-top: 40px;
	}

	/* 게시판 썸네일 리스트 */
	.board_thumbnail_list ul li a {
		padding: 18px 0px 50px 320px;
	}
	.board_thumbnail_list ul li a p.summary {
		height: 68px;
	}

	/* 게시판 글쓰기 */
	article.board_write p textarea {
		height: 420px;
	}

}

/* 태블릿 해상도 */
@media all and (max-width: 1138px) {


	/* 썸네일 공통 */
	a:hover .thumb img {
		transform: scale(1);
	}


	/* 게시판 상세 */
	.title_view h2 {
		font-size: 24px;
	}
	.borard_view aside > div > ul li a {
		display: block;
		padding: 0 70px 0 0px;
	}
	.borard_view aside > div > ul li h4 {
		padding-top: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		line-height: 1.4em;
		height: 2.8em;
		white-space: normal;
	}
	.borard_view aside > div > ul li .photo {
		width: 64px;
		height: auto;
	}
}

/* 모바일 해상도 */
@media all and (max-width: 710px) {

	/* 기본 버튼 */
	.btn_basic {
		height: 38px;
		padding: 6px 14px 7px;
	}

	/* 게시판 공통 */
	.board_wrap {
		margin: 20px 0px 0px 0px;
		padding: 20px 0;
	}

	/* 게시판 탑 리스트 */
	.board_top_list ul {
		flex-direction: column;
		margin: 0;
	}
	.board_top_list ul li {
		width: 100%;
		margin: 20px 0 0 0;
	}
	.board_top_list ul li a {
		padding-top: 248px;
	}
	.board_top_list ul li a h4 {
		height: auto;
		-webkit-line-clamp: 1;
		line-height: 1.6em;
	}
	.board_top_list ul li a .info {
		margin-top: 0;
	}

	/* 게시판 썸네일 리스트 */
	.board_thumbnail_list ul li {
		border-bottom: 0;
		margin-top: 0;
	}
	.board_thumbnail_list ul li a {
		padding: 7px 0px 30px 156px;
	}
	.board_thumbnail_list ul li a .photo {
		width: 140px;
		height: 86px;
	}
	.board_thumbnail_list ul li a h4 {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		line-height: 1.4em;
		height: 2.8em;
		white-space: normal;
	}
	.board_thumbnail_list ul li a p.summary {
		display: none;
	}
	.board_thumbnail_list ul li a .info {
		margin-top: 10px;
		display: block;
	}

	/* 게시판 상세 */
	.title_view h2 {
		line-height: 1.4;
		font-size: 18px;
		padding: 23px 0 38px;
	}
	.borard_view {
		flex-direction: column;
	}
	.borard_view .view_cont,
	.borard_view aside {
		width: 100%;
	}
	.borard_view .view_cont {
		padding: 20px 0;
	}
	.borard_view aside > div > ul li a {
		padding-top: 8px;
	}


	/* 페이지 네비 */
	.page_navi a {
		font-size: 12px;
	}

}